amcl:
  ros__parameters:
    enabled: true
    use_sim_time: false
    base_frame_id: "base_footprint"
    global_frame_id: "map"
    odom_frame_id: "odom"
    tf_broadcast: true
    allow_unknown: true
    initial_pose_x: 0.0
    initial_pose_y: 0.0
    initial_pose_a: 0.0
    min_particles: 500
    max_particles: 2000
    laser_max_range: 10.0
    laser_use_inf: true
    alpha1: 0.2
    alpha2: 0.2
    alpha3: 0.2
    alpha4: 0.2
    alpha5: 0.2
    set_initial_pose: true
    first_map_only: false
    use_map_topic: true
    set_initial_pose: true